.contenedor {
  display: flex;
  flex-direction: column;
  width: max-content;
  max-width: 330px;
  height: fit-content;
  background: #00b4cc85;
  border: #b2df28, solid, 20px;
  backdrop-filter: blur(2px);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: center;
  flex-direction: column;
  margin: 20px;
}

.name {
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0.415em;
  opacity: 100;
  filter: blur(0);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(47, 13, 255, 0.19);
}

.name:hover {
  transform: scale(1.025);
}
.species {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0.415em;
  opacity: 100;
  filter: blur(0);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(47, 13, 255, 0.19);
  margin-top: 1em;
  display: flex;
  flex-direction: row-reverse;
}

.species:hover {
  transform: scale(1.025);
}
.gender {
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0.415em;
  opacity: 100;
  filter: blur(0);
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(47, 13, 255, 0.19);
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  place-self: flex-end;
}

.gender:hover {
  transform: scale(1.025);
}

.imagen {
  justify-content: flex-end;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.boton {
  margin-left: 92%;
  box-sizing: border-box;
  background: #00b5cc;
  border: 2px solid #b2df28;
  box-shadow: 0px 4px 4px rgba(99, 233, 66, 0.25);
  color: white;
  width: 2em;
  justify-content: flex-end;
}
