body {
  margin: 0;

  background-image: url(media-assets/wp7227935-rick-and-morty-outer-space-wallpapers.png);
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
